* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: "Public Sans", sans-serif;
}

header {
  background-color: #fafafa;
  height: 4rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

h2 {
  font-size: 1.875rem;
  font-weight: 300;
  text-align: center;
  color: #2d314d;
  margin-bottom: 2.5rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
  color: #2d314d;
  margin-bottom: 1.063rem;
}

a {
  text-decoration: none;
  color: #2d314d;
}

a:hover {
  color: rgb(51, 211, 94);
}

.active {
  font-weight: 600;
  color: rgb(51, 211, 94);
}

p {
  font-size: 0.938rem;
  text-align: center;
  color: #9597a5;
  line-height: 1.563rem;
}

.button {
  cursor: pointer;
  padding: 0.813rem 2.375rem;
  margin-top: 2rem;
  border-radius: 22px;
  font-size: 0.875rem;
  color: #fff;
  background: rgb(51, 211, 94);
  background: -moz-linear-gradient(
    94deg,
    rgba(51, 211, 94, 1) 0%,
    rgba(42, 182, 217, 1) 100%
  );
  background: -webkit-linear-gradient(
    94deg,
    rgba(51, 211, 94, 1) 0%,
    rgba(42, 182, 217, 1) 100%
  );
  background: linear-gradient(
    94deg,
    rgba(51, 211, 94, 1) 0%,
    rgba(42, 182, 217, 1) 100%
  );
  border: none;
}

.menu-button {
  border: none;
  background: #fafafa;
  cursor: pointer;
}

nav {
  display: none;
}

.is-active {
  width: 327px;
  height: 265px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 140%;
  left: calc((100vw - 327px) / 2);
  font-size: 1.125rem;
  border-radius: 5px;
  -webkit-box-shadow: 0px 70px 100px 50p rgba(45, 49, 77, 1);
  -moz-box-shadow: 0px 70px 100px 50p rgba(45, 49, 77, 1);
  box-shadow: 0px 70px 100px 50px rgba(45, 49, 77, 1);
}

nav ul {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  list-style: none;
  text-align: center;
}

.banner {
  height: 280px;
  background-image: url(./images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% 120%;
  background-position: top right;
  position: relative;
  z-index: -2;
}

.banner-image {
  width: 325px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.title-section {
  margin: 2.5rem 1.5rem 0px 1.5rem;
  margin-bottom: 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-section h1 {
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
  color: #2d314d;
  margin-bottom: 0.313rem;
}

.advantages-section {
  background-color: #f4f5f7;
  margin-bottom: 5.5rem;
  padding: 4rem 0 3rem 0;
}

.advantages-header {
  margin-bottom: 0.625rem;
}

.advantages-header-wrapper p {
  margin-bottom: 3.5rem;
}

.advantages {
  margin: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.icon {
  width: 4.5rem;
  margin-bottom: 1.5rem;
}

.advantage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 1rem 0;
}

.articles {
  margin: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 1.5rem;
}

.article-image {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.article-texts {
  width: 100%;
  padding: 1.938rem;
}

.author {
  font-size: 0.625rem;
  color: #9597a5;
  margin-bottom: 0.5rem;
}

.article-header {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.438rem;
}

.article-header:hover {
  color: rgb(51, 211, 94);
}

.article p {
  font-size: 0.813rem;
  text-align: left;
}

footer {
  background-color: #2d314d;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2.5rem 4.813rem;
}

.footer-logo {
  margin-bottom: 2rem;
}

.footer-social {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

footer ul li {
  list-style: none;
  text-align: center;
  margin: 0.5rem 0;
  padding-bottom: 0.313rem;
}

footer ul li:hover {
  color: rgb(51, 211, 94);
}

footer p {
  opacity: 50%;
  padding-bottom: 0.313rem;
}

footer button {
  margin-bottom: 1.5rem;
}

footer a {
  color: #ffffff;
}

.attribution a {
  text-decoration: none;
  color: rgb(51, 211, 94);
  cursor: pointer;
}

.attribution a:hover {
  color: rgba(42, 182, 217, 1);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
